doctype html
html
  include inc/head.jade
  body.home_view.v2.simple-header.p1
    main#site-content(role="main")
      .hero.shift-with-hiw.js-hero
        .hero__background(data-native-currency='ZAR', aria-hidden='true')
          ul#home_slider.rslides.rslides3
            li#rslides3_s0.rslides3_on(style='background: url("img/slider.jpg")')
        .hero__content.page-container.page-container-full.text-center(style='padding:0px !important;')
          .va-container.va-container-v.va-container-h
            .va-middle
              h2.text-branding.text-jumbo.text-contrast.space-1(style='padding:0px 15px;')
                | Welcome to Makent Cars
              .h4.text-contrast.space-4(style='padding:0px 15px;')
                | Rent Cars to ride from local car owners in 190+ countries
              .back-black
                .show-sm.sm-search
                  form#simple-search.simple-search.hide.js-p1-simple-search
                    .alert.alert-with-icon.alert-error.hide.space-2.js-search-error
                      i.icon.alert-icon.icon-alert-alt
                      |         Please set location
                    label.screen-reader-only(for='simple-search-location')
                      | Where do you want to go?
                    input#simple-search-location.input-large.js-search-location(type='text', placeholder='Where do you want to go?', autocomplete='off', name='location')
                    .row.row-condensed.space-top-2.space-2
                      .col-sm-6
                        label.screen-reader-only(for='simple-search-pickup')
                          | Pickup
                        input#simple-search-pickup.input-large.pickup.js-search-pickup(type='text', name='pickup', placeholder='Pickup')
                      .col-sm-6
                        label.screen-reader-only(for='simple-search-return')
                          | Return
                        input#simple-search-return.input-large.return.js-search-return(type='text', name='return', placeholder=' Return')
                  #sm-search-field.input-addon.js-p1-search-cta
                    span.input-stem.input-large.fake-search-field
                      | Where do you want to go?
                    i.input-suffix.btn.btn-primary.icon.icon-full.icon-search
              a.btn.hide-sm.btn-contrast.btn-large.btn-semi-transparent.js-show-how-it-works
                | How It Works
          .hero__content-footer.hide-sm
            .col-sm-12
              #searchbar
                .searchbar(data-reactid='.1')
                  form#searchbar-form.simple-search(action='#', method='get', name='simple-search')
                    .saved-search-wrapper.searchbar__input-wrapper
                      label.input-placeholder-group.searchbar__location
                        span.input-placeholder-label.screen-reader-only Where do you want to go?
                        input#location.menu-autocomplete-input.form-inline.location.input-large.input-contrast.pac-target-input(placeholder='Where do you want to go?', type='text', name='location', aria-autocomplete='both', autocomplete='off', value='')
                      .searchbar__location-error.hide Please set location
                      label.input-placeholder-group.searchbar__pickup
                        span.input-placeholder-label.screen-reader-only Pickup
                        input#pickup.pickup.input-large.input-contrast.ui-datepicker-target(type='text', readonly='readonly', onfocus='this.blur()', placeholder='Pickup')
                        input(type='hidden', name='pickup')
                      label.input-placeholder-group.searchbar__return
                        span.input-placeholder-label.screen-reader-only  Return
                        input#return.return.input-large.input-contrast.ui-datepicker-target(type='text', onfocus='this.blur()', readonly='readonly', placeholder=' Return')
                        input(type='hidden', name='return')
                      #autocomplete-menu-sbea76915.menu.hide(aria-expanded='false', aria-role='listbox')
                        .menu-section
                    input(type='hidden', name='source', value='bb')
                    button#submit_location.searchbar__submit.btn.btn-primary.btn-large(type='submit') Search
      .hide.show-md.show-lg.show-sm
        section.how-it-works.how-it-works--overlay.resp-how.js-how-it-works(aria-hidden='true', style='display: none; top: 0; height: 361px ')
          a.how-it-works__close.panel-close.js-close-how-it-works(href='javascript:void(0);')
            span.screen-reader-only
              | Close How It Works
          .page-container-responsive.panel-contrast.text-contrast
            h2.screen-reader-only
              | How It Works
            .row.space-top-8.text-center
              .how-it-works__step.how-it-works__step-one.col-md-4
                .panel-body
                  .how-it-works__image
                  h3
                    | Discover Amazing Listing
                  p
                    | Find a car of your choice with latest models, types and number of persons you wish to travel.
              .how-it-works__step.how-it-works__step-two.col-md-4
                .panel-body
                  .how-it-works__image
                  h3
                    | Book a Day
                  p
                    | Connect with your car owners confirm your booking, chat with owners for any details, pay with trusted payment services with Makent Cars
              .how-it-works__step.how-it-works__step-three.col-md-4
                .panel-body
                  .how-it-works__image
                  h3
                    | Travel
                  p
                    | Feel like an owner of the car throughout your journey
      include inc/discovery.jade
      .hero.shift-with-hiw.js-hero.col-lg-12.col-md-12.col-sm-12(style='padding:0px; height:auto !important;')
        .hero__background_slider(data-native-currency='ZAR', aria-hidden='true')
          ul#bottom_slider.rslides.bottom_slider.bottom_slider1.rslides4
            li
              img(alt='', src='img/slider_11.jpeg', width='100%', style='height: 100%;')
              .bot-slider-text
                h2.text-branding.text-jumbo.text-contrast.space-1.over-head
                  | Belong anywhere
                .h4.text-contrast.space-4.over-head
                  | See how Makent owners create a sense of belonging around the world
            li
              img(alt='', src='img/slider_15.jpeg', width='100%', style='height: 100%;')
              .bot-slider-text
                h2.text-branding.text-jumbo.text-contrast.space-1.over-head
                  | Introducing the Bélo
                .h4.text-contrast.space-4.over-head
                  | The story of a symbol of belonging.
            li
              img(alt='', src='img/slider_11.jpeg', width='100%', style='height: 100%;')
              .bot-slider-text
                h2.text-branding.text-jumbo.text-contrast.space-1.over-head
                  | Your Car
                .h4.text-contrast.space-4.over-head
                  | See how Makent owners create a sense of belonging around the world
      .col-lg-12.col-md-12.col-sm-12(style='background:#edefed;')
        .discovery-section.page-container-responsive.page-container-no-padding(style='padding:0px !important;')
          .col-lg-12.nopad.text-center(style='padding:0px !important;')
            h2.row-space-1(style='padding:30px 0px 15px;')
              strong Our Community
            .col-lg-4.pos-rel.com-img.pad-left.col-md-4.new_our_community
              .por_ab
                a.com-link-img(href='#', target='_blank', style='background: url(img/our_community_bannners_1.jpg);')
                .com-sub
                  h2.over-head(style='width:90% !important;') Garry & Lianne
                  p.over-head(style='width:90% !important;')
                    | Across an ocean or across town, garry & Lianne are always in search in local experiences 
                    br
                    |  Learn more about travel on Makent Cars
            .col-lg-4.pos-rel.com-img.pad-left.col-md-4.new_our_community
              .por_ab
                a.com-link-img(href='http://makentcars.trioangle.com/privacy_policy', target='_blank', style='background: url(img/our_community_bannners_2.jpg);')
                .com-sub
                  h2.over-head(style='width:90% !important;') Makent Cars for Business
                  p.over-head(style='width:90% !important;')
                    | Feel as your Car. wherever your work takes you 
                    br
                    |  Get your team on MakentCar
            .col-lg-4.pos-rel.com-img.pad-left.col-md-4.new_our_community
              .por_ab
                a.com-link-img(href='http://makentcars.trioangle.com/owner_guarantee', target='_blank', style='background: url(img/our_community_bannners_3.jpg);')
                .com-sub
                  h2.over-head(style='width:90% !important;') Patricia
                  p.over-head(style='width:90% !important;')
                    | A professional photographer, patricia loves helping riders explore Shanghai's arts scene. 
                    br
                    |  Learn more about renting on Makent Cars

            
    include inc/script.jade