.panel.panel-dark.pull-left(style='width:100%;border:none !important;')
  #discovery-container
    #discovery-saved-searches.discovery-section.hide.page-container-responsive.page-container-no-padding
    #weekend-recommendations.discovery-section.hide.page-container-responsive.page-container-no-padding
    #host-banners.discovery-section.page-container-responsive.page-container-no-padding
      .row.row-condensed.space-top-8.ban-host
        .col-md-7.col-lg-8.col-sm-12.row-condensed
          ul#host_banner_slider.host_banner_slides.host_banner_slider_item.host_banner_slider_item2
            li
              img(alt=' ', src='img/banner1.jpeg', width='100%')
            li
              img(alt=' ', src='img/banner2.jpeg', width='100%')
            li
              img(alt=' ', src='img/banner1.jpeg', width='100%')         
        .col-md-5.col-lg-4.col-sm-12.host-banner-slider-content.row-condensed
          ul#host_banner_content_slider.host_banner_slides
            li.host_banner_content_slider_item(style='display:none')
              .host-banner-content.text-left
                .space-2.host-banner-content-title
                  strong Hosting opens up a world of opportunity 
                .space-2.host-banner-content-description
                  | Choose from hundreds of models you won’t find anywhere else. Pick it up or get it delivered where you want it.
                a.btn.btn-host-banner.host-banner-content-btn(href='#', target='_blank') See What You Can Earn
            li.host_banner_content_slider_item(style='display:none')
              .host-banner-content.text-left
                .space-2.host-banner-content-title
                  strong We’re here to help
                .space-2.host-banner-content-description
                  | Makent provides tips and help along the way. From getting your home ready to choosing a price—we’ve got tools for you.
                a.btn.btn-host-banner.host-banner-content-btn(href='#', target='_blank') Help
            li.host_banner_content_slider_item(style='display:none')
              .host-banner-content.text-left
                .space-2.host-banner-content-title
                  strong Earn money as an Makent host
                .space-2.host-banner-content-description
                  | From saving for home repairs to taking a dream trip, hosts use extra income to fund their passions.
                a.btn.btn-host-banner.host-banner-content-btn(href='#', target='_blank') Why Host
    #discover-recommendations.discovery-section.exploer_banner1.page-container-responsive.page-container-no-padding
      .section-intro.text-center.row-space-6.row-space-top-8
        h2.row-space-1
          strong Explore the world
        p.text-lead
          | See where people are traveling, all around the world.
      .discovery-tiles
        .row
          .col-lg-8.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_1.jpeg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | New York
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_2.jpeg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Sydney
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_3.jpeg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Hawaii
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_4.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Paris
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_5.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Barcelona
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_6.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Thailand
          .col-lg-8.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_7.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | London
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_8.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | San Francisco
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_9.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Berlin
          .col-lg-4.col-md-6.col-sm-12.rm-padding-sm
            .discovery-card.rm-padding-sm.row-space-4.darken-on-hover(style='background-image:url(img/home_city_10.jpg);')
              a.link-reset(href='#', data-hook='discovery-card')
                .va-container.va-container-v.va-container-h
                  .va-middle.text-center.text-contrast
                    .h2
                      strong
                        | Budapest
