.my-4.my-md-5
  .mb-4
    h2.title-sm.m-0
      | Recommended for you
  ul#explore-slider.explore-slider.owl-carousel
    li
      .explore-img
        a(href='#')
          img.owl-lazy(data-src='img/img2.jpeg')
          .explore-info.d-flex.flex-column.justify-content-end
            h4
              | New York
            span ₫4782882 / night Average
    li
      .explore-img
        a(href='#')
          img.owl-lazy(data-src='img/img2.jpeg')
          .explore-info.d-flex.flex-column.justify-content-end
            h4
              | New York
            span ₫4782882 / night Average
    li
      .explore-img
        a(href='#')
          img.owl-lazy(data-src='img/img2.jpeg')
          .explore-info.d-flex.flex-column.justify-content-end
            h4
              | New York
            span ₫4782882 / night Average
    li
      .explore-img
        a(href='#')
          img.owl-lazy(data-src='img/img2.jpeg')
          .explore-info.d-flex.flex-column.justify-content-end
            h4
              | New York
            span ₫4782882 / night Average
    li
      .explore-img
        a(href='#')
          img.owl-lazy(data-src='img/img2.jpeg')
          .explore-info.d-flex.flex-column.justify-content-end
            h4
              | New York
            span ₫4782882 / night Average
    li
      .explore-img
        a(href='#')
          img.owl-lazy(data-src='img/img2.jpeg')
          .explore-info.d-flex.flex-column.justify-content-end
            h4
              | New York
            span ₫4782882 / night Average
.my-4.d-flex.justify-content-between.align-items-center
  h2.title-sm.m-0
    | Just booked
ul#booked.rooms-wrap.d-flex.flex-wrap
  li
    .pro-img
      a(href='#')
        img.lazy(data-src='img/img3.jpeg')
    .pro-info
      h4.text-truncate
        span Private room  
        span · 
        span 1 Bed  
      a(href='#', title='')
        h5.text-truncate
          | Broken Head Bodhi Treehouse
      p.price
        span ₫
        |  5861375
        | 							Per Night
        span
          i.icon.icon-instant-book  
  li
    .pro-img
      a(href='#')
        img.lazy(data-src='img/img3.jpeg')
    .pro-info
      h4.text-truncate
        span Entire home/apt 
        span · 
        span 2 Bed  
      a(href='#', title='')
        h5.text-truncate
          | Broken Head Bodhi Treehouse
      p.price
        span ₫
        |  5861375
        | 							Per Night
        span
          i.icon.icon-instant-book 
      .d-flex.align-items-center
        span
          .star-rating
            .foreground
              i.icon.icon-star
              i.icon.icon-star
              i.icon.icon-star
              i.icon.icon-star
            .star-bg.background.mb_blck
              i.icon.icon-star
              i.icon.icon-star
              i.icon.icon-star
              i.icon.icon-star
              i.icon.icon-star
        span.review-count.mx-2
          | 1
        span.review-label
          | Review
  -for (i=0;i<2;i++)
    li
      .pro-img
        a(href='#')
          img.lazy(data-src='img/img3.jpeg')
      .pro-info
        h4.text-truncate
          span Entire home/apt 
          span · 
          span 2 Bed  
        a(href='#', title='')
          h5.text-truncate
            | Broken Head Bodhi Treehouse
        p.price
          span ₫
          |  5861375
          | 							Per Night
          span
            i.icon.icon-instant-book 
        .d-flex.align-items-center
          span
            .star-rating
              .foreground
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
              .star-bg.background.mb_blck
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
                i.icon.icon-star
          span.review-count.mx-2
            | 1
          span.review-label
            | Review
.mt-3.mt-md-0.mb-5
  a.see-all-link.d-md-inline-flex.align-items-center(href='#')
    span
      | See all
    i.icon.icon-chevron-right.ml-2