script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/owl.carousel.min.js')
script(type='text/javascript', src='js/jquery.lazy.js')
script(type='text/javascript', src='js/moment.min.js')
script(type='text/javascript', src='js/daterangepicker.min.js')
script(type='text/javascript', src='js/main.js')